
<h1>Index page</h1>
<%= blogs.forEach(function (blog) { %>
    <div>
        <h2>
            <%= blog.title %>
            <img src='<%= blog.image %>'>
            <span><%= blog.created %></span>
            <p><%= blog.body %> </p>
        </h2>
    </div>
<% }) %>




